body {
  background-color: rgb(72,198,236);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto', Verdana, sans-sérif;
}
#contenu {
  background: white;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
  margin-top: 50px;
}
.title-home {
  color: #88A8CF;
  margin-bottom: 50px;
  font-size: 30px;
}
.container-white {
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.label {
  font-size: 22px;
  position: relative;
  bottom: 0;
  right: 0;
}
.input {
  width: 80%;
  height: 5%;
  font-size: 17px;
}
.asterisk {
  color: grey;
}

.btn {
  width: 60% ;
  height: 40px;
  margin-top: 10px;
  background-color: #fff;
  border: 2px black solid;
  color: #000;
  font-weight: bold;
}
.btn:hover {
  background-color: #fff;
  border: 3px solid black;
  color: #000;
}
#infosUtil {
  left: 0;
  right: 0;
  position: absolute;
  color: #fff;
}


#menuGauche {
	margin-top : 2%;
	padding: 1%;
	background-color: white;
	color: rgb(0,85,227);
	width: 25%;
}


#page {
  width : 65%;
  margin : auto ;
  border : 0.2em solid black;
  padding : 0.1em;
}


#menuList {
  float: left;
  position: absolute; 
}


/*            FOOTER          */
#pied{
  clear : both;
	border : 1px solid #980101;
  left : 0;
	margin-top : 2%;
	padding:1%;
}


.strong-mrg-top {
  margin-top: 100px;
}